{% extends "main/test.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock %}

{% block content %}
<h1>Ceci est un titre</h1>
<p>ceci est un test d'extend de test</p>

<table>
  <tr>
    <th>Name</th>
    <th>Studio</th>
    <th>Release Year</th>
  </tr>
  
  <!-- Loop through each videogame and display all details -->
  {% for videogame in videogames|dictsort:"studio" %}
  <tr>
    <!-- Display video game in the first column -->
    <td>{{ videogame.name }}</td>
    <!-- Display studio in the second column and a like to the view-->
    <td> <a href="{% url 'test3' videogame.studio|slugify %}">{{ videogame.studio }}</a></td>
    <!-- Display Year -->
    <td>{{ videogame.year }}</td>
  </tr>
  {% endfor %}
  
</table>

{% endblock content %}

<a href="{% url 'details' attraction.state|slugify %}">State details</a>
